{% load staticfiles %}
<!DOCTYPE html>
    <head lang="pt-br">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <title>Primeiro Heterohexa</title>
    </head>
    <body>
        <div class="page-header">
            <h1>Inicio da página</h1>
           <h4>Bora criar o blog porra!</h4>
         </div>

         <div class="about">
            <h3>Sobre mim</h3>
             <a href="https://ibb.co/bRkYu8">
                 <img src="https://thumb.ibb.co/bRkYu8/26112372_1385799621529490_8401305985051074832_n.jpg" alt="26112372_1385799621529490_8401305985051074832_n" border="0">
             </a>
                 <ul>
                <li><a href="https://github.com/ramondsf92">Github</a></li>
                <li><a href="https://www.facebook.com/ramontera">Facebook</a></li>
                <li><a href="https://www.instagram.com/ramondsf92/">Instagram</a></li>
            </ul>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>