<!DOCTYPE html>
    <head lang="pt-br">
        <title>Primeiro Heterohexa</title>
    </head>
    <body>
        <div>
            <h1>Inicio da página</h1>
           <h2>Bora criar o blog porra!</h2>
         </div>

         <div>
            <h3>Sobre mim</h3>
            <ul>
                <li><a href="https://github.com/ramondsf92">Github</a></li>
                <li><a href="https://www.facebook.com/ramontera">Facebook</a></li>
                <li><a href="https://twitter.com/ramonarca92">Twitter</a></li>
            </ul>
        </div>
        <hr>
        <div>
            <p>Publicado: 06.07.2018, 09:17</p>
           <h2><a href="">Meu primeiro post</a></h2>
           <p>Não sei o que escrever aqui. Estou confuso. Quero café. Não quero ir pra aula de física. Mas sei que devo,
           pois já reprovei uma vez. Mas sei mais ou menos que que vai ter. </p>
        </div>
        <hr>
        <div>
            <p>Publicado: 06.07.2018, 09:20</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>Bora ver depois se dá pra editar isso aqui através do admin lá, ou de algum outro jeito. Sei lá.</p>
        </div>
        <hr>
    </body>
</html>